.nav-bar {
  background-color: #162a41;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

.nav-left {
  display: flex;
  justify-content: space-between;
  margin-right: 40dvb;



}
.Icon-link {
  display: flex;
  align-items: center;
  margin-left:1em ;
  margin-right: 3em;
}

.Icon-link svg {
  margin-right: 0.5em;
}